 .p{
    text-align: center
    
 }

 .em strong{
 color: Purple;
 }

 .itens{
     font-style: italic
 }

 .titulo-centralizado{
  text-align: center
}

 .titulo-principal{
   padding-left: 20px;
 }


  #banner{
       width: 100%;
    }
  #imagembeneficios{
       width: 50%;
 }

  .principal{
   background: #CCCCCC;
   padding: 30px;
 }
 
</style> 

<body> .ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
 }



