header {
    background: url("bg.jpg");
    padding: 20px 0;
}


body {
    background: white;
}



.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

#Menu-B {
    list-style: none;
    padding: 0;
}

#Menu-B li {
    text-transform: uppercase;
    text-align: horizontal;
    font-weight: bold;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.principal{
    background: url("bg.jpg");
    padding: 30px;
    text-align: center;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}


#missao {
    font-size: 20px;
}

#banner {
    width: 100%;
}

em strong {
    color: purple;
    font-size: 22px;
}

.principal p {
    color: white;
}

strong {
    color: white;
     font-size: 18px;
}


