header {
    background: #BBBBBB;
}
nav a {
    display: inline;
    margin: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
