body {
  background: white;
}

p {
    text-align: center;
}

 em strong {
  color: purple;
  font-size: 25px;
}

#principal{
  text-align: center;
}
h1{
  text-align: center;
}

#banner{
  width: 100%;
}

#imagembeneficios{
  width: 50%;
}
