header {
    background: url("bg.jpg");
    padding: 20px 0;
}


body {
    background: white;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding: 0;
}

nav ul {
    display: inline;
    margin: 0 0 0 15px;
    padding: 0;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

footer p {
    color: white;
}

.Copyright {
    font-size: 13px;
    mangin: 20px;
    
}


main {
  width: 940px;
  margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; 
}

.input-padao {
    dispaly: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

p {
    color: red;
}

form p {
    color: blue;
}

.teste {
    color: orange;
}




