body {
  background: white;
}

p {
    text-align: center;
}

#principal{
  text-align: center;
}
h1{
  text-align: center;
}

#banner{
  width: 100%;
}

#imagembeneficios{
  width: 50%;
}

strong{
  color: purple;
  width: 20px;
}
